* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #f1f2f4;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #c3c3ce;
  border-radius: 10px;
}

:root {
  --direction: rtl;
  --font-family: "IRANSans", sans-serif;
  --color-neutral-000: #fff;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 24px;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  overflow: auto;
  background-color: var(--color-neutral-000);
  direction: var(--direction);
}
